/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14),2px 4px 8px rgba(0, 0, 0, 0.28);
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #FFFFFF;
    border-right: 1px solid #eee;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14),2px 4px 8px rgba(0, 0, 0, 0.28);
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.demo_toggle {
width:60%;
margin-left:20px;
background:#666;
position:relative;
height:20px;
border-radius:5px;
margin-bottom:20px;
}

.toggle_button {
height:18px;
width:50%;
background:#cecece;
border-radius:5px;
margin-top:1px;
position:absolute;
cursor:pointer;
left:2%;
}

.toggle_text {
position:absolute;
top:0px;
color:#999;
cursor:pointer;
}

.toggle_text.left {
left:4px;
}

.toggle_text.right {
right:4px;
}

.toggle_text.active {
color:#333;
}