body {
width:100vw;
height:100vh;
margin:0px;
padding:0px;
overflow:hidden;
background:#efeeed;
}

h1 {
font-size:5vh;
margin-left:3%;
margin-bottom:0px;
}

h2 {
font-size:4.5vh;
}

#product_detail_wrap {
    width:100%;
    
}

#product_detail {
    width:94%;
    margin-left:3%;
    margin-top:1%;
}

#product_image_wrap {
width:40%;
float:left;
}

#product_image {
width:100%;
}

#product_image img {
width:100%;
height:100%;
}

#product_info_wrap {
float:left;
width:58%;
margin-left:1%;
}

.sale {
color:red;
font-size:3vh;
font-weight:bold;
}

#was_price {
font-size:3vh;
text-decoration:line-through;
font-weight:bold;
}

p {
font-size:2.5vh;
}

#add_button_wrap {
width:96%;
float:right;
margin-right:3%;
}

#add_to_cart {
float:right;
display:inline-block;
background:orange;
color:#fff;
font-size:3vh;
padding:1% 2%;
border-radius:5px;
cursor:pointer;
}

#add_to_cart:hover {
background:#666;
color:#fff;
}

#header ul {
width:94%;
margin:.9%;
margin-left:3%;
background:orange;
padding:0px;
list-style:none;
display:block;
border-radius:5px;
}

#header ul > li {
display:inline-block;
padding:2.5vh;
font-size:2.5vh;
}

#header ul > li:hover {
background:#666;
color:#fff;
cursor:pointer;
}

#header ul > li#cart {
float:right;
}